<body>
  <div class = "mainApp">
    <div class = "hotelArea">
     <TableFilteringExample>
     </TableFilteringExample>
    </div>

    <mat-divider/>

    <div class = "roomArea">
    <listGrid>
    </listGrid>
    </div>

    <mat-divider/>
    <div class = "loginReview">
      <div class = "reviewArea">

        <mat-card style="width: 100%;display: inline-block;">
          <app-grid-list class="mat-elevation-z8">
          </app-grid-list>
        </mat-card>
        <div>
          <button class="BookButton" mat-flat-button color="primary">Book Room</button>
          <form>
          <mat-form-field class="reviewInput">
            <mat-label></mat-label>
            <textarea matInput placeholder="Did you enjoy the Hotel?"></textarea>
          </mat-form-field>
          </form>
          <button mat-flat-button color="primary">Send Review</button>
        </div>
      </div>
    </div>
  </div>
</body>

